@import "tailwindcss";

@font-face {
  font-family: 'FormulaBold';
  src: url('/dist/fonts/FormulaCondensed-Bold.otf') format('opentype');

}

@font-face {
  font-family: 'FormulaLight';
  src: url('/dist/fonts/FormulaCondensed-Light.otf') format('opentype');
}

@font-face {
  font-family: 'ArchivoRegular';
  src: url('/fonts/Archivo-Regular.ttf') format('truetype');
}



body {
    font-family: Archivo;
}



html {
  scroll-behavior: smooth;
}

.gradient-bg{
    background: #020202;
    background: linear-gradient(90deg, rgba(88, 0, 150, 1) 0%, rgba(44, 2, 77, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.ft-archivo{
    font-family: ArchivoRegular;
}


.ft-formula{
    font-family: FormulaBold;
}
.ft-formulaLight{
    font-family: FormulaLight;
}





@layer utilities {
    .animate-typing {
        animation: blink 1s steps(2, start) infinite;
    }

    @keyframes blink {

        0%,
        100% {
            border-color: transparent;
        }

        50% {
            border-color: #c084fc;
        }

        /* color morado */
    }
}